{% extends "base.html" %}{% block title %}Sign Up{% endblock %}

{% block stuff %}

<form method = "POST">
    <h3 align = "center">Sign up</h3>
        <div class= "form-group">
            <label for = "email"> Email Address</label>
            <input
            type = "email"
            class="form-control"
            id="email"
            name = "email"
            placeholder = "enter email"
            />
        </div>
        <div class= "form-group">
            <label for = "name"> First Name</label>
            <input
            type = "name"
            class="form-control"
            id="name"
            name = "name"
            placeholder = "enter first name"
            />
        </div>
        <div class= "form-group">
            <label for = "password"> Password</label>
            <input
            type = "password"
            class="form-control"
            id="password"
            name = "password"
            placeholder = "enter password"
            />
        </div>
        <br />
        <button type= "submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}